<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inventry_Control_System.Properties.Settings.AAAConnectionString"
            connectionString="Data Source=KUSHAN101;Initial Catalog=AAA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>